.video-player {
    .time-control {
        color: #6D6D6D;
        display: inline-block;
        padding: rem(17) rem(18);
        vertical-align: top;
    }
    .current-time {
        color: #9D9D9D;
    }
}