.video-player {
    .fullscreen-control {
        border-right: 1px solid rgba(0,0,0,0.5);
        box-shadow: 1px 0 0 rgba(76,76,76,0.5);
        cursor: pointer;
        padding: 12px 14px;

        &:hover {
            .expand-icon {
                background-position: -77px -21px;
            }
            .compress-icon {
                background-position: -96px -21px;
            }
        }
    }
    .expand-icon {
        background-position: -77px 0;
    }
    .compress-icon {
        background-position: -96px 0;
    }
}