.video-player {

    .mute-control {

        cursor: pointer;
        padding: 12px 14px;
        position: relative;

        &:hover {
            .volume-up-icon {
                background-position: -59px -21px;
            }
            .volume-off-icon {
                background-position: -38px -21px;
            }
        }
    }

    .volume-up-icon {
        background-position: -59px 0;
    }

    .volume-off-icon {
        background-position: -38px 0;
    }
}