.video-player {

    display: flex;
    align-items: center;

    video {
        width: 100%;
        height: 100%;
    }

    .video-poster {
        //background-image: url(http://i3.letvimg.com/yunzhuanma/201410/18/66a4a94ec40ae9f4eb73f4c6c6384957/thumb/2_640_360.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        right: 0;
        bottom: 54px;
        z-index: 9;
    }
}